<header class="header">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-5">


              <div class="logo-container">


                  <img src="assets/images/logo1.jpeg" alt="" class="logo">

                  <div class="texte">
                    <h6 style="color:#7C8893">Les actualités financières en Afrique</h6>
                  </div>


              </div>

      </div>


      <div class="col-md-7 col-sm-7 col-7 text-end">
        <div class="menu-icon" (click)="openMenue()">
          <i class="{{menu_icon}}"></i>
        </div>

        <div class="desktop_menu" [class.mobile_menu] = "menuValue">
          <ul>
            <li> <a (click)="closeMenue()" class="dropdown-toggle" href="">BRVM</a></li>
            <li> <a (click)="closeMenue()" href="">Bourse</a></li>
            <li> <a (click)="closeMenue()" href="">Finances personnelles</a></li>
            <li> <a (click)="closeMenue()" href="">Outils</a></li>
          </ul>
        </div>

      </div>



    </div>

    <!-- <div class="form">
      <form class="d-flex me-2">
          <input class="form-control me-5" type="search" placeholder="Recherche rapide" style="font-size: 1.5rem;" >
          <button class="btn btn-outline-light" type="submit"> <h5>Rechercher</h5></button>
        </form>
      </div> -->

  </div>

</header>
