header {
  padding: 10px;
  background: #2B323Aff;
}
.logo{
  width: 150px;
}


.range ul li{
  list-style-type: none;
  display: inline-block;
}

.logo:hover {
  cursor: pointer

}

.desktop_menu {
  margin-top: 24px;
}

.texte{
  margin-top: 40px;
}

.desktop_menu ul{
  padding: 0;
  margin: 0;
}

.logo-container {
  display: flex;
}


.logo-container ul{
  padding: 0;
  margin: 0;
}

.logo-container ul li{
  list-style-type: none;
  display: inline-block;

}

.desktop_menu ul li a{
  text-decoration: none;
  color: white;

}

.desktop_menu ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 15px;
}

.desktop_menu ul li a:hover {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

.menu-icon{
  display: none;
}




@media screen and (min-width: 120px) and (max-width:900px) {

  .desktop_menu  {
   position: fixed;
   transition: 0.2s ease-in-out;
   right: -280px;
   top: 64px;
   background: #2B323Aff;
   width: 200px;
   height: 100%;
  }

  .desktop_menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid grey;
  }


  .menu-icon{
    display: block;
    color: white;
    font-size: 30px;
    padding: 10px;
  }

  .mobile_menu{
    right: 0;
    transition: 0.4s ease-in-out;
  }
}
